@CHARSET "UTF-8";

html, body
{
	width: 100%;
	height: 100%;
}

.backLayer 
{
	display:none;
	background-color:black;
	position:absolute;
	left:0px;
	top:0px;
}


#baseContainer
{
	position: absolute;
	width: 600px;
	margin: 0 auto;
}

#contentContainer
{
	position: absolute;
}

#titleContainer
{
	position: absolute;
}

.listBox 
{
	position: absolute;
    border-radius: 5px 15px;
    background: #73AD21;
    width: 600px;
    height: 30px; 
} 